@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, "Inter", sans-serif;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

#search {
    position: absolute;
    top: 45vh;
    transition: all .5s;
    display: flex;
}

#search input[type=text] {
    float: left;
    width: 430px;
    height: 40px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border: 1.5px solid #b2bec3;
    padding-left: 20px;
    font-size: 15px;
    transition: all .5s .3s;
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}

#search input[type=text]:focus {
    width: 530px;
}

#search button {
    float: left;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 45px;
    width: 55px;
    border: 1.5px solid #b2bec3;
    border-left: none;
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .25s;
}

#search button img {
    margin-top: 1px;
    margin-right: 1px;
    height: 32px;
    width: auto;
}

#bookmarkList {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55vh;
    margin-top: 30px;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .5s;
}

#bookmarkList>* {
    margin-left: 15px;
}

#bookmarkList button[type=submit] {
    width: 183px;
    height: 38px;
    border: 1.25px solid #b2bec3;
    border-radius: 13px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    transition: all .25s;
    cursor: pointer;
    order: 9999999999999999999999999999;
}

#bookmarkList button[type=submit]:hover {
    transform: scale(1.05);
}

#bookmarkList button[type=submit]:active {
    transform: scale(.95);
}

#overlay {
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    border-radius: 50px;
    border: 2px solid #b2bec3;
    width: 40vw;
    height: 445px;
    z-index: 2;
    transition: all .8s;
    color: black;
    transform: translateY(130vh);
}

#overlay #header {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    top: 70px;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create input {
    display: inline-block;
    border: none;
    background: none;
    border-bottom: 1.5px solid #b2bec3;
    width: 200px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    transition: all .35s ease-in-out;
}

#create input:nth-child(1) {
    margin-top: 150px;
}

#create input:nth-child(2) {
    margin-top: 30px;
}

#create input:focus {
    width: 250px;
}

#create button {
    margin-top: 60px;
    background: none;
    border: 1px solid #b2bec3;
    font-size: 13px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
}


#create button:hover {
    border: 1px solid #f6f9fc;
    background: #b2bec3;
    color: #f6f9fc;
}

.bookmark {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 20px;
    border: 1px solid #b2bec3;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    transition: box-shadow .5s, transform .2s, height .3s, background .3s, color .3s .05s;
    margin-bottom: 30px;
}

.bookmark:hover {
    transform: scale(1.05);
}

.bookmark:active {
    transform: scale(.9);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}

#imgDsc {
    position: absolute;
    text-align: right;
    top: 15px;
    right: 15px;
    text-shadow: 1px 1px 5px rgba(0,0,0,.2);
    font-size: 13px;
}

nav {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 45px;
    border-right: 1.25px solid #b2bec3;
    border-bottom: 1.25px solid #b2bec3;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}

nav input {
    appearance: none;
    height: 5px;
    border-radius: 3.25px;
    background: #b2bec3;
    filter: opacity(.7);
    transition: all .2s;
    align-self: center;
    justify-self: center;
}

nav input:hover {
    filter: opacity(1);
}

nav input::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 17px;
    background: #34495e;
    border-radius: 6.25px;
}

nav span {
    padding-left: 15px;
    margin-right: 15px;
}