#search input {
    background: rgba(246,249,252,.75);
}

#search input:focus {
    background: rgba(246,249,252,.9);
}

#search button {
    background: rgba(52,152,219,.7);
}

#search button:hover {
    background: rgba(41,128,185,.9);
}

#bkList button {
    color: black;
    background: rgba(246,249,252,.75);
}

#crtBk {
    background: rgba(246,249,252,.8);
}

.bookmark {
    background: rgba(246,249,252,.75);
    color: black !important;
}

.bookmark:hover {
    background: rgba(246,249,252,.9);
}